
header {
    width: 60vw;
    height: 40px;
    margin: 0 auto;
    background-color: #239dd6d1; /* azul com transparência */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    position: fixed; /* colado no topo */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

/* LOGIN como uma linha */
.login {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login h1 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

/* Estilo para os campos */
.login input{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/* Botão com estilo opcional */
.login button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1c7daa;
    color: white;
    cursor: pointer;
}

/* Texto opcional (Facebook) */
.login .redes {
    border-radius: 9px;
    background: url(/imagens/Facebook.png) left no-repeat;
    background-size: 27px;
    background-color: #3f67bc;
    padding-left: 32px;
    height: 27px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}